<!DOCTYPE html>
<html>
<head>
<style>
#rec_table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#rec_table td {
  border: 1px solid #808080;
}

#rec_table td, #rec_table th {
  padding: 8px;
}

#rec_table tr:nth-child(even) {
	background-color: #f2f2f2;}

#rec_table tr:hover {background-color: #ddd;}

#rec_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<h1>Sneaker Recommedation List</h1>

<table id='rec_table'>
	<tr>
		<th align='left'>Model</th>
		<th align='left'>Price</th>
	</tr>
	{% for shoe in owned %}
	<tr>
		<td>{{shoe['Model Name']}}</td>
		<td>{{shoe['Retail Price']}}</td>
	</tr>
	{% endfor %}
</table>

</body>
</html>